<ion-view title="Dine out" id="page6" style="background-color:white;" ng-model="vis">
    <ion-nav-buttons side="right" class="has-header">
      <i class="button button-icon button-clear icon icon ion-funnel" ng-click="openModal();"></i>
    </ion-nav-buttons>
    <ion-content>
        <!-- dine_list -->

 <div class = "list">
        <!-- <div ng-repeat="food in dineOutData" class = "item item-thumbnail-left" ng-click="goToDineItemPage();" ng-init="add[$index] = true"> -->
          <div ng-repeat="food in dineOutData" class = "item item-thumbnail-left" ng-init="add[$index] = true;added[$index]=false;">
          <img ng-src="{{ food.img }}" />

        
  
 <div class = "list" align="center">

    <li class = "item item-toggle"  style="width: auto;height: 50px;">
         Non-Veg 
        <label class = "toggle toggle-assertive"  >
            <input type="checkbox" ng-model="searchPage"
            ng-true-value="'veg'"  ng-false-value="'Non'"  ng-change="onChange(searchPage)">
           <div class = "track">
              <div class = "handle"></div>
           </div>
          Veg
        </label>
       
     </li>    

        <div ng-repeat="food in filtered = (dineOutData  | filter:searchPage ) track by $index" class = "item item-thumbnail-left" ng-click="goToDineItemPage();">
            <img ng-src="{{ food.img }}" />

           <p class="my_list_title">{{food.title}}</p>
           <h3 class="my_list_contet"> {{food.content}}</h3>
           <p class="list_footer centermy">
             <span class="pull-left cost_title" style="float: left;">{{food.cost}}<span style="font-size: 9px;"> Rs</span></span>
             <span class="pull-right offer_title">{{food.offer}}<span style="font-size: 8px;"> % Off</span></span>
             <span class="pull-right offer_title" style="float:right;" ng-show="add[$index]" ng-click="add[$index] = false;added[$index]=true;addItem($index);">Add</span>
             <span class="icon ion-checkmark-circled addedToCartIcon" style="float:right;" ng-show="added[$index]"></span>
            </p>
        </div>
      </div>
      
        <!-- filter model -->
        <script id = "filterModel.html" type = "text/ng-template">
            <ion-modal-view >
              <header class="bar bar-header bar-positive">
                  <input class="w3-input text" type="text" style="border-bottom:rgb(219, 34, 75) 1px solid;" placeholder="Choose Area For Lunch" ng-model="search.location" >
                <!-- <h1 class="title">Choose Area For Lunch</h1>
                <div class="icon ion-close-circled button button-icon button-clear" ng-click="closeModal()"></div> -->
              </header>
              <ion-content style="padding-top:45px!important;">
                  <ul class = "list">
                    <li class = "item item-checkbox">
                          veg
                          <label class = "checkbox">
                              <input type="checkbox" ng-model="searchPage.veg"
                              ng-true-value="'veg'"  ng-change="onChange(searchPage.veg)">
                            
                          </label>
                       </li>
                    
                       <li class = "item item-checkbox">
                          non-veg
                          <label class = "checkbox">
                              <input type="checkbox" ng-model="searchPage.nonVeg"
                              ng-true-value="'nonVeg'"  ng-change="onChange(searchPage.nonVeg)">
                          </label>
                       </li>
                   </ul>


<p>Checkbox 1 value is: <b>{{checkboxModel.veg}}</b></p>
<p>Checkbox 2 value is: <b>{{checkboxModel.nonVeg}}</b></p>
              </ion-content>
              <header class="bar bar-footer bar-positive footerBar">
                  <div class="icon ion-close-circled button button-icon button-clear" ng-click="closeModal()"></div>
                  <div class="icon ion-checkmark-circled button button-icon button-clear" ng-click="closeModal()"></div>
              </header>
              
            </ion-modal-view>
        
         </script>
    </ion-content>

    <div class = "bar bar-footer btncontinue" ng-click="goToDineItemPage();" >
      <h1 class = "title">Cart Items ({{count}})</h1>
   </div>
    </ion-view>
    