<ion-view title="Social links" id="page1" style="background-color:white;" ng-model="vis">
 <ion-nav-buttons side="right" class="has-header">
    
  </ion-nav-buttons>
  <ion-content padding="true" style="margin-bottom: 40px;" class="has-header">


   <div align="center" style="margin-top: 20px;"> 
   <a href="https://www.facebook.com/jayajayashankaratv"><i class="icon ion-social-facebook socialIconfb"></i></a><br><br>
   <a href="https://www.youtube.com/channel/UC2lXJEFZI_t1ewgiUOg-Amw"><i class="icon ion-social-youtube socialIconyt"></i></a><br><br>
   <a href="https://www.yupptv.com/channels/jaya-jaya-shankara/live"><img src="img/yupptv_androidtv_appicon.png" style="border-radius: 100px;width: 72px;height: 72px;" class="socialIconyupp"></a><br><br>
   <a href="http://www.jayajayashankara.tv/"><i class="icon ion-ios-world socialIconwww"></i></a>
   </div>


</ion-content>
<div class="bar bar-footer bar-balanced footerBar">
        <div class = "button-bar bar-balanced">
   <button class="button button-icon button-clear ion-home footerButton" ui-sref="side-menu21.jayaJayaShankara({})" menu-close="" style="color: rgb(116,116,116)!important;"></button>
   <button class="button button-icon button-clear ion-android-notifications footerButton" ui-sref="side-menu21.notification" menu-close="" style="color: rgb(116,116,116)!important;"></button>
  <button class="button button-icon button-clear ion-android-settings footerButton" ui-sref="side-menu21.settings" menu-close="" style="color: rgb(116,116,116)!important;"></button>
   <button class="button button-icon button-clear ion-log-out footerButton" ng-click="logout();" style="color: rgb(116,116,116)!important;"></button>
</div> 
        
    </div>

</ion-view>

